body {
  background-color: lightgrey;
  color: blue;
  }

h1 {
  background-color: white;
  color: red;
  text-align: center;
  }
pre1 {
  text-align: centerl
}

h4 {
  color: blue;
}

p {
  color: black;
  text-align: center;
  }

p1 {
  color: black;
}

p2 {
  color: black;
}

